<style>
  h1 {
    padding-bottom: 10px; margin: 0px;
  }
  .top_tools_div {
    font: Arial;
    font-size: 12px;
  }
  .tools_div {
    font: Arial;
    font-size: 14px;
    padding-top: 10px; 
  }
</style>

<table width="100%" style="height:100%;">
  <tr>
    <td rowspan="2" valign="top">
      <%= @map.div(:width => "100%", :height => "500px;") %>
    </td>
    <td width="250px" valign="top">
      <div class="top_tools_div">
        <% if @trip.can_edit?(current_user) %>
          <% form_remote_tag :url => {:action => 'ajax_add_marker'} do %>
            <%= text_field_tag :location, '', :style => 'width: 120px;' %> <%= submit_tag 'Add Location ' %>
          <% end %>
        <% end %>        
      </div>
      <div id="locations_div">
        <%= render :partial => '/map/partials/trip', :locals => {:locations => @trip.locations} %>
      </div>
      <div class="tools_div">
      <!--
        <b>Go To</b>
        <% form_remote_tag :url => {:action => 'ajax_go_to'} do %>
          <%= text_field_tag :location, '', :style => "width: 150px;" %> <%= submit_tag 'go' %>
        <% end %>
      -->
      </div>
    </td>
  </tr>
</table>