<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title><%= @page_title || 'Plot My Trip'-%></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= GMap.header %>
  <%= javascript_include_tag("markerGroup") %>    
  <%= javascript_include_tag("polylineGroup") %>
  <%= @map.to_html if @map %>
</head>
<body>
  <div id="main">
    <div id="header">
      <div style="float: right;">
	      <ul>
	        <li><a href="/faq.html">FAQ</a></li>
	        <li><a href="/blog.html">Blog</a></li>
	        <% if current_user -%>
	          <li><%= link_to 'Logout', logout_url %></li>	          
	          <li><%= current_user.login %></li>
	        <% else -%>
	          <li><%= link_to 'Login' %></li>
	        <% end -%>
	      </ul>
	    </div>
      <h1><%= link_to 'Plot My Trip', "/" %></h1>
    </div>
  <div id="content">
	  <% for name in [:notice, :error] -%>
	    <% if flash[name] -%> <%= "<div id=\"flash_#{name}\">#{flash[name]}</div>" %> <% end -%>
	  <% end -%>
    <%= yield %>
  </div>
</body>
</html>