<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<html>
  <head>
    <title>Trip Map</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag :defaults %>
    <%= GMap.header %>
	  <%= javascript_include_tag("markerGroup") %>    
	  <%= javascript_include_tag("polylineGroup") %>
    <%= @map.to_html if @map %>   
  </head> 
  <body>
    
    <% if !current_user %>
      <%= link_to "Register", new_account_path %> |
      <%= link_to "Log In", new_user_session_path %>
    <% else %>
      <%= link_to "My Account", account_path %> |
      <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
    <% end %>    
    
    <p style="color: green"><%= flash[:notice] %></p>    
    
    <%= yield %>
  </body>
</html>